[submodule "src/scrm_jz_stable_branch"]
	path = src/scrm_jz_stable_branch
	url = https://github.com/smcsmc/scrm_jz_stable_branch.git
[submodule "src/scrm"]
	path = src/scrm
	url = https://github.com/smcsmc/scrm_jz_stable_branch.git
[submodule "src/unittest/utility"]
	path = src/unittest/utility
	url = https://github.com/smcsmc/utilities.git
