## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

## Compiling
*Makefile
*Makefile.in
compile
config.guess
config.log
config.status
config.sub
configure
INSTALL
aclocal.m4
autom4te.cache/
depcomp
install-sh
missing
*.deps/
test-driver
*.o
src/pf-ARG
src/pf-ARG_dbg


## Tex compiles
*.log
*.bbl
*.blg
*.d
*.fls
*.out
*.make
*.pdf
*.aux
*.temp
*.bak
*.dvi
*.idx
*.nav
*.snm
*.toc


## Other
*.pyc

*_exp
smcsmc_dbg
smcsmc
smcsmcRECOMBOFF
smcsmcRECOMBOFF_dbg
src/.dirstamp
smcsmcSCRM
smcsmcCount
smcsmcHIST
smcsmcNe
unittests
tests/unittest/.dirstamp
doxygen_sqlite3.db
html/
scrm
smcsmcSCRM_dbg
tests/pfARGHIST
tests/scrm_tmp_tree
tests/smcsmc_tmp_tree
tests/tmpCount
tests/tmpHIST
tests/tmpNe
tests/tmplagCount
tests/tmplagHIST
tests/tmplagNe

# Coverage
testCoverage/
*gcda
*gcno
