## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

## Compiling
*Makefile
*Makefile.in
compile
config.guess
config.log
config.status
config.sub
configure
INSTALL
aclocal.m4
autom4te.cache/
depcomp
install-sh
missing
*.deps/
test-driver
*.o


## Tex compiles
*.log
*.bbl
*.blg
*.d
*.fls
*.out
*.make
*.pdf
*.aux
*.temp
*.bak
*.dvi
*.idx
*.nav
*.snm
*.toc


## Other
*.pyc

*_exp
smcsmc_dbg
smcsmc_static
smcsmc
src/.dirstamp
unittests
tests/unittest/.dirstamp
doxygen_sqlite3.db
html/
scrm
.Rhistory        
smcsmcSCRM_dbg
tests/pfARGHIST
tests/scrm_tmp_tree
tests/smcsmc_tmp_tree
tests/tmpCount
tests/tmpHIST
tests/tmpNe
tests/tmplagCount
tests/tmplagHIST
tests/tmplagNe

# Coverage
testCoverage/
*gcda
*gcno

# Test output
newtests/resultsdb
newtests/testdata/
performance/experiments/data/
performance/experiments/experimentsdb
_build
_cache
_static
