[submodule "src/scrm"]
	path = src/scrm
	url = https://github.com/luntergroup/scrm_jz_stable_branch.git
[submodule "tests/utility"]
	path = tests/utility
	url = https://github.com/luntergroup/utilities.git
